.food-item-container{
    width: 100%;
    margin: auto;
    border-radius: 15px;
    box-shadow: 0 0 10px #2222;
    transition: 0.3s;
    animation: fadeIn 1s;
}
.food-item-image-container{
    position: relative;
}
.food-item-image-container .add{
    width: 35px;
    position: absolute;
    bottom: 15px;
    right: 15px;
    background-color: white;
    border-radius: 50%;
    cursor: pointer;
    padding: 6px;
}
.food-item-image{
    width: 100%;
    height: 220px;
    border-radius: 10px;    
}
.food-item-info{
    padding: 20px;
    text-align: justify;
}
.food-item-info p{
    font-size: large;
}
.food-item-name-rating{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.food-item-name-rating img{
    width: 80px;
}
.food-item-description{
    opacity: 0.6;
    margin: 10px 0;
}
.food-item-price{
    color: orangered;
    font-size: larger;
}
.food-item-counter{
    position: absolute;
    bottom: 15px;
    right: 15px;
    display: flex;
    align-items: center;
    gap: 13px;
    padding: 6px;
    border-radius: 50px;
    background-color: white;
}
.food-item-counter img{
    width: 25px;
    padding: 2px;
}