.footer{
    display: flex;
    background-color: #323232;
    flex-direction: column;
    gap: 20px;
    align-items: center;
    padding: 20px 8vw;
    color: white;
    padding-top: 80px;
    margin-top: 100px;
}
.footer-content{
    width: 100%;
    gap: 80px;
    display: grid;
    grid-template-columns: 2fr 1fr 1fr;
}
.footer-content-left, .footer-content-center, .footer-content-right{
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    gap: 20px;
}
.footer-content-left li, .footer-content-center li, .footer-content-right li{
    list-style: none;
    margin-bottom: 10px;
    cursor: pointer;
}
.footer-content-center h2, .footer-content-right h2{
   text-transform: uppercase;
}

.footer-content-left h1{
    color: orangered;
    font-family: 'Dancing Script', cursive;
    font-size: 2em;
}
.footer-social-icons img{
    width: 35px;
    margin-right: 15px;
    cursor: pointer;
}
.footer hr{
    width: 100%;
    height: 2px;
    margin: 20px 0;
    background: grey;
    border: none;
}
@media screen and (max-width:750px){
    .footer-content{
        display: flex;
        flex-direction: column;
        gap: 20px;
    }
}