.header-container{
    margin: 20px auto;
    position: relative;
    background: url(/images/banner.jpg) no-repeat;
    background-size: cover;
    background-position: center;
    height: 35vw;
    border-radius: 5px;
}
.header-content{
    max-width: 50%;
    position: absolute;
    bottom: 10%;
    left: 10%;
    gap: 25px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    animation: fadeIn 3s;
}
.header-content h2{
    color: white;
    font-size: 3em;
    font-weight: 500;
}
.header-content p{
    color: white;
    font-size: 1.3em;
    font-weight: 400;
}
.header-content button{
    border: 0;
    padding: 8px 25px;
    border-radius: 15px;
    cursor: pointer;
    background-color: white;
    font-size: 15px;
}
@media screen and (max-width: 1050px){
    .header-content{
        max-width: 70%;
    }
}
@media screen and (max-width: 900px){
     .header-content h2{
        font-size: 2.2em;
    }
    .header-content p{
        font-size: 1.2;
    }
}
@media screen and (max-width: 750px){
    .header-container{
        height: 75vw;
    }
    .header-content{
        max-width: 65%;
    }
    .header-content p{
        display: none;
    }
    .header-content button{
        padding: 8px 15px;
        font-size: 15px;
    }
    .header-content h2{
        font-size: 2.2em;
    }
}