header {
  padding: 20px 0;
}
.navbar h1 {
  color: orangered;
  cursor: pointer;
  font-size: 30px;
  font-weight: 600;
  font-family: "Dancing Script", cursive;
}
.navbar {
  display: flex;
  justify-content: space-between;
}
.navbar,
.nav-links,
.nav-right {
  display: flex;
  align-items: center;
}
.nav-links {
  list-style: none;
  font-size: 15px;
  cursor: pointer;
}
.nav-links,
.nav-right {
  gap: 20px;
}
.nav-right img {
  width: 30px;
  cursor: pointer;
}
.nav-right button {
  outline: 0;
  background: transparent;
  padding: 8px 25px;
  border: 1px solid #2222;
  border-radius: 15px;
  font-size: 15px;
  cursor: pointer;
  transition: 0.3s ease-in-out;
}
.nav-right button:hover {
  border: 1px solid orangered;
}

.nav-links .active {
  padding-bottom: 2px;
  border-bottom: 2px solid black;
}
.search-items-container {
  position: relative;
}
.search-items-container .float {
  position: absolute;
  width: 10px;
  height: 10px;
  background-color: orangered;
  border-radius: 5px;
  top: -8px;
  right: -8px;
}

.hamburger {
  display: none;
  font-size: 25px;
  cursor: pointer;
}

@media screen and (max-width: 750px) {
  .hamburger {
    display: block;
  }

  .nav-links {
    max-height: 0%;
    overflow: hidden;
    width: 100%;
    position: absolute;
    top: 90px;
    left: 0;
    background-color: white;
    transition: max-height 0.5s ease-in-out, padding 0.5s ease-in-out;
    padding: 0 15px;
  }
  .nav-links{
    flex-direction: column;
  }
  .nav-links.active {
    max-height: 300px;
    padding: 20px;
    z-index: 1;
  }
  .navbar h1 {
    font-size: 18px;
  }
  .nav-right{
    gap: 15px;
  }
  .nav-right button {
    padding: 8px 15px;
  }
  .nav-right img {
    width: 25px;
  }
}
