header{
    padding: 20px 0;
}
.navbar h1{
    color: orangered;
    cursor: pointer;
    font-size: 30px;
    font-weight: 600;
    font-family: 'Dancing Script', cursive;
}
.navbar{
    justify-content: space-between;
}
.navbar, .nav-links, .nav-right{
    display: flex;
    align-items: center;
}
.nav-links{
    list-style: none;
    font-size: 15px;
}
.nav-links, .nav-right{
    gap: 20px;
}
.nav-right img{
    width: 30px;
    cursor: pointer;
}
.nav-right button{
    outline: 0;
    background: transparent;
    padding: 8px 25px;
    border: 1px solid #2222;
    border-radius: 15px;
    font-size: 15px;
    cursor: pointer;
    transition: 0.3s ease-in-out;
}
.nav-right button:hover{
    border: 1px solid orangered;
}
.nav-item{
    text-decoration: none;
    color: black;
}
.nav-item.active{
    padding-bottom: 2px;
    border-bottom: 2px solid black;
}
.search-items-container{
    position: relative;
}
.search-items-container .float{
    position: absolute;
    width: 10px;
    height: 10px;
    background-color: orangered;
    border-radius: 5px;
    top: -8px;
    right: -8px;
}


.hamburger{
    display: none;
}
@media screen and (max-width:1050px){
    .nav-links{
        gap: 20px;
        font-size: 17px;
    }
    .nav-right{
        gap: 30px;
    }
    .nav-right img{
        width: 22px;
    }
    .nav-right button{
        padding: 8px 25px;
    }
}
@media screen and (max-width:900px){
    .nav-links{
        gap: 20px;
        font-size: 16px;
    }
    .nav-right{
        gap: 20px;
    }
    .nav-right img{
        width: 20px;
    }
    .nav-right button{
        padding: 7px 20px;
        font-size: 15px;
    }
}
@media screen and (max-width:7500px){
    .nav-links{
        display: none;
    }
   
}