*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Outfit';
}
body{
    width: 80%;
    margin: auto;
}
@keyframes fadeIn {
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}